<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="" method = 'post'>
        {% csrf_token %}
        <h4>Login</h4>
        <label for="">Username</label> 
        <input type="text" placeholder="Enter you username" name = "username" required>

        <label for="">Password</label> 
        <input type="password" placeholder="Enter you Password" name = "password" required>

        <button type="submit">Submit</button>

    </form>
</body>
</html>