<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <form action="" method = 'post'>
        {% csrf_token %}
        <h4>Sign Up</h4>
        <label for="">Username</label> 
        <input type="text" placeholder="Enter you username" name = "username" required>

        <label for="">Email</label> 
        <input type="email" placeholder="Enter you email id" name = "email" required>

        <label for="">Password</label> 
        <input type="password" placeholder="Enter you Password" name = "password1" required>

        <label for="">Username</label> 
        <input type="password" placeholder="Enter you Password again" name = "password2" required>

        <button type="submit">Submit</button>
            
    </form>
</body>
</html>